<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pagina Principal</title>
</head>
<body style="background-color:#FAFAD2;">
<div th:if="${email} != 'anonymousUser'" align="right">
    <a th:each="role : ${roles}" th:if="${role.name} == 'ADMIN' " class="btn" href="/empresas"><button>Administrar</button></a>
    <a th:each="role : ${roles}" th:if="${role.name} == 'ADMIN' " class="btn" href="/UserList"><button>Usuarios</button></a>
    <a th:text="${name}"></a>
</div>
<div th:if="${email} == 'anonymousUser'" align="right">
    <a  class="btn" href="/registration"><button>Registrar</button></a>
    <a  class="btn" href="/login"><button>Iniciar Sesion</button></a>
</div>
<br/>
<br/>
<br/>
<div align="center">
    <a href="/pedir"><button>Pedir</button></a>
</div>
</body>
</html>