<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Empresa</title>
</head>
<body style="background-color:#FDF5E6;">
    <b>Nombre:</b><p th:text="${empresa.nombre}"></p>
    <b>Direccion:</b><p th:text="${empresa.direccion}"></p>
    <b>Telefono:</b><p th:text="${empresa.telefono}"></p>
    <b>Descripcion:</b><p th:text="${empresa.descripcion}"></p>
    <b>Calificacion:</b><p th:text="${empresa.calificacion}"></p>
</body>
</html>