<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List</title>
</head>
<body style="background-color:#FDF5E6;">
<div th:each="user : ${users}">
    <b>ID:</b><p th:text="${user.id}"></p>
    <b>Nombre:</b><p th:text="${user.name}"></p>
    <b>Nombre:</b><p th:text="${user.email}"></p>
    <div th:each="role : ${user.roles}">
        <b>Role:</b><p th:text="${role.name}"></p>
    </div>
</div>
</body>
</html>